In [1]:
import pandas as pd
import numpy as np

## Join - Index match

In [8]:
izq = pd.DataFrame({'A': ['A0', 'A1', 'A2'], 
                    'B': ['B0', 'B1', 'B2'],},
                  index=['K0', 'K1', 'K2'])  # Indicamos los indices de este dataframe

der = pd.DataFrame({'C': ['C0', 'C1', 'C2'], 
                    'D': ['D0', 'D1', 'D2'],},
                  index=['K0', 'K2', 'K3'])

In [14]:
  # ? .join() Hace la fusion no por filas o columnas, sino directamente por los indices ('k0', 'k1'...)
  # todo: how='inner', puede ser cambiado por 'left' 'right' 'outer' para ver diferentes resultados
izq.join(der, how='outer')

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C1   D1
K3  NaN  NaN   C2   D2