In [16]:
import pandas as pd

In [17]:
psg_playes = pd.Series(['Navas', 'Mbappe', 'Neymar', 'Messi'],  # Series() son similar a un array. son un vector que se le puede asignar el index
                      index=[1, 7, 10, 30]
                      )
psg_playes

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [18]:
psg_playes = pd.Series(['Navas', 'Mbappe', 'Neymar', 'Messi'],
                      )
psg_playes  # si no se asignan los indices se crea una simple lista ordenada.

0     Navas
1    Mbappe
2    Neymar
3     Messi
dtype: object

In [19]:
dictio = {1: 'Navas', 7: 'Mbappe', 10: 'Neymar', 30: 'Messi'}
pd.Series(dictio)  # ? .Series() vuelve al diccionario en un vector con sus indices

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [20]:
psg_playes[0: 3]

0     Navas
1    Mbappe
2    Neymar
dtype: object

In [21]:
dict = { 'Jugador': ['Navas','Mbappe','Neymar', 'Messi'],
  'Altura': [183.0, 170.0, 170.0, 164.0],
  'Goles': [2, 200, 200, 300]
  }

In [24]:
df_players = pd.DataFrame(dict, index=[1, 7, 10, 30])  # ? DataFrame(), crea una matriz indexada por indices y por columnas
df_players

   Jugador  Altura  Goles
1    Navas   183.0      2
7   Mbappe   170.0    200
10  Neymar   170.0    200
30   Messi   164.0    300

In [23]:
df_players.columns # muestra las columnas

Index(['Jugador', 'Altura', 'Goles'], dtype='object')

In [25]:
df_players.index # muestra las filas

Int64Index([1, 7, 10, 30], dtype='int64')