Funciones

In [15]:
def my_func(name= 'NO NAME'):  # Eso es un parametro predefinido.
    print('hello ' + name)

In [11]:
my_func('Angel')

hello Angel

In [16]:
my_func()

hello NO NAME

In [18]:
def square(x):
    return x ** 2

In [21]:
total = square(3)
print(total)

9

Funciones lambda / Funciones anonimas

In [23]:
def times_two(var):
    return var*2

In [24]:
times_two(10)

20

In [25]:
lambda var: var*2

Metodos sobre strings

In [26]:
st = 'Hello my Name is Angel'

In [27]:
st.lower()

'hello my name is angel'

In [28]:
st.upper()

'HELLO MY NAME IS ANGEL'

In [29]:
st.split()  # ? Por defecto hace la separacion usando los espacios en blanco

['Hello', 'my', 'Name', 'is', 'Angel']

In [30]:
tweet = 'Hello #sports'

In [32]:
tweet.split('#')  # ? el split se hace desde el "#"

['Hello ', 'sports']

Metodos sobre diccionarios

In [33]:
dicc = {'k1': 'v1', 'k2': 'v2'}

In [35]:
dicc.keys()  # ? Asi se obtienen las claves de un diccionario

dict_keys(['k1', 'k2'])

In [36]:
dicc.values()  # ? Obtenemos el valor de los diccionarios

dict_values(['v1', 'v2'])

In [37]:
dicc.items()  # ? Obtenemos clave y valor

dict_items([('k1', 'v1'), ('k2', 'v2')])

In [43]:
my_list = list(range( 3 + 1))
print(my_list)

[0, 1, 2, 3]

In [45]:
last = my_list.pop()
print(my_list)
print(last)  # ? last, toma el valor del ultimo valor que fue eliminado de la lista original

[0, 1]
2

In [54]:
my_lista2 = list(range(1, 3 + 1))
print(my_lista2)

[1, 2, 3]

In [55]:
first = my_lista2.pop(0)
print(first)

1

Checke if an item is inside a list

In [56]:
'x' in [1, 2, 3, 4]

False

In [2]:
1 in [1, 2, 3, 4]

True