In [2]:
import numpy as np
import pandas as pd

In [3]:
# help(pd.Series)  # muestra la documentacion de pandas.Series

## Creando series usando arrays

In [4]:
myindex = ['USA', 'Canada', 'Mexico']

In [5]:
mydata = [1776, 1867, 1821]

In [8]:
myser = pd.Series(data= mydata, index= myindex)  # convierte el array en un padas series. 
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [7]:
type(myser)

pandas.core.series.Series

In [9]:
myser[0]

1776

In [10]:
myser['USA']

1776

## Creando series usando diccionarios

In [11]:
ages = {'Sam': 5, 'Frank': 10, 'Spike': 7}

In [12]:
pd.Series(ages)  # Transforma el diccionario en un pandas series

Sam       5
Frank    10
Spike     7
dtype: int64

In [4]:
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100, 'China': 500, 'India': 210, 'USA': 260}

In [5]:
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [6]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [7]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [8]:
sales_q1.keys()  # ? Asi se ven las claves del Series

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [11]:
[1, 2] * 2  # * python normal, solo duplicara el array

[1, 2, 1, 2]

In [12]:
np.array([1, 2]) * 2 # Hara un broadcast y multiplicara cada elemento

array([2, 4])

In [13]:
sales_q1 * 2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [14]:
sales_q1 / 100

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

In [15]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [16]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [17]:
sales_q1 + sales_q2  # ! da error porque Brazil y Japan no hacen match porque son "diferentes index/labels"

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [20]:
first_half = sales_q1.add(sales_q2, fill_value=0)  # ? .add(fill_value=0), indicamos que si algo es un 'NaN' en 'sales_q2', que lo rellene con un 0
first_half

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

In [19]:
sales_q1.dtype

dtype('int64')

In [22]:
first_half.dtype  # Dejo de ser un Series type y se convirtio en un 'float 64'

dtype('float64')